DB_COMPARE_DB_NAME=
DB_COMPARE_DB_NAME_ALIAS=
DB_COMPARE_DB_USER=
DB_COMPARE_DB_DRIVER=
DB_COMPARE_DB_PASSWORD=
DB_COMPARE_DB_HOST=
DB_COMPARE_DB_PORT=
DB_COMPARE_DB_SSL_CERT=

DB_COMPARE_DB_NAME_SECONDARY=
DB_COMPARE_DB_NAME_ALIAS_SECONDARY=
DB_COMPARE_DB_USER_SECONDARY=
DB_COMPARE_DB_DRIVER_SECONDARY=
DB_COMPARE_DB_PASSWORD_SECONDARY=
DB_COMPARE_DB_HOST_SECONDARY=
DB_COMPARE_DB_PORT_SECONDARY=
DB_COMPARE_DB_SSL_CERT_SECONDARY=